{% extends "doctor_layout.html" %}

{% block page_title %}
Doctor - All Patients
{% endblock %}

{% block main %}
<section id="all-patients" class="my-12">
    <h2 class="text-3xl font-bold text-darkBlue mb-4">Your Patients</h2>
    <div class="flex flex-wrap">
        <!-- Placeholder for each patient -->
        {% for patient in patients %}
	<div class="w-full md:w-1/2 p-4">
            <div class="bg-white shadow-md rounded-lg overflow-hidden">
                <div class="flex items-center p-4">
                    <div class="w-16 h-16 rounded-full overflow-hidden mr-4">
                        <img src={{ patient.profile_pic }} alt="Patient Profile Picture" class="w-full h-full object-cover">
                    </div>
                    <div>
                        <h3 class="text-2xl font-semibold">{{ patient.name }} {{ patient.surname }}</h3>
                        <p>Age: {{ patient.age }}</p>
                        <p>Gender: {{ patient.gender }}</p>
                        <p>Email: {{ patient.email }}</p>
			<p>Address: {{ patient.address }}</p>
                        <div class="mt-2">
				<form action="/doctor/diagnosis/{{ patient.id }}/create" method="post" class="inline">
                                <button type="submit" class="bg-lightBlue text-white py-1 px-3 rounded">Diagnose</button>
                            </form>
                            <form action="/doctor/patients/{{ patient.id }}/remove" method="get" class="inline ml-2">
                                <button type="submit" class="bg-red-600 text-white py-1 px-3 rounded">Remove</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% endfor %}
    </div>
</section>
{% endblock %}

