{% extends "doctor_layout.html" %}

{% block page_title %}
Create Diagnosis - Hiltan Hospital
{% endblock %}

{% block main %}
<section id="create-diagnosis" class="my-12">
    <h2 class="text-3xl font-bold text-darkBlue mb-4">Create Diagnosis for {{ patient.name }} {{ patient.surname }}</h2>
    <form action="" method="post" class="bg-white shadow-md rounded-lg p-4">
        {{ form.hidden_tag() }}
        <div class="mb-4">
            {{ form.disease.label(class="block mb-2 text-sm") }}
            {{ form.disease(class="border rounded p-2 w-full") }}
            <ul>
                {% for error in form.disease.errors %}
                <li class="text-red-600 text-sm">{{ error }}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="mb-4">
            {{ form.description.label(class="block mb-2 text-sm") }}
            {{ form.description(class="border rounded p-2 w-full") }}
            <ul>
                {% for error in form.description.errors %}
                <li class="text-red-600 text-sm">{{ error }}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="mb-4">
            {{ form.date.label(class="block mb-2 text-sm") }}
            {{ form.date(class="border rounded p-2 w-full") }}
        </div>
        <button type="submit" class="bg-lightBlue text-white py-2 px-4 rounded">Submit Diagnosis</button>
    </form>
</section>
{% endblock %}

