{% extends "doctor_layout.html" %}

{% block page_title %}
Doctor - All Patients
{% endblock %}

{% block main %}
<section id="all-patients" class="my-12">
    <h2 class="text-3xl font-bold text-darkBlue mb-4">Your Patients</h2>
    <div class="flex flex-wrap">
        <!-- Placeholder for each patient -->
        {% for patient in patients %}
        <div class="w-full md:w-1/2 p-4">
            <div class="flex items-center bg-white shadow-md rounded p-4">
                <div class="w-16 h-16 rounded-full overflow-hidden mr-4">
                    <img src="{{ url_for('static', filename='images/default_patient.jpg') }}" alt="Patient Profile Picture" class="w-full h-full object-cover">
                </div>
                <div>
                    <h3 class="text-2xl font-semibold">{{ patient.name }}</h3>
                    <p>Condition: {{ patient.condition }}</p>
                    <a href="{{ url_for('doctor_bp.all_patients', patient_id=patient.id) }}" class="text-red-500 hover:underline">Remove Patient</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}

