{% extends "layout.html" %}

{% block page_title %}
Medical Records - Hiltan Hospital
{% endblock %}

{% block navlinks %}
<a href="#" class="text-white hover:underline">Home</a>
<a href="#records" class="text-white hover:underline">Medical Records</a>
{% endblock %}

{% block main %}
<section id="records" class="my-12">
    <h2 class="text-3xl font-bold text-darkBlue mb-4">My Medical Records</h2>
    <ul class="list-disc pl-5">
        <li>Record 1 - Details</li>
        <li>Record 2 - Details</li>
        <li>Record 3 - Details</li>
    </ul>
</section>
{% endblock %}

