{% extends "layout.html" %}


{% block navlinks %}
<a href="/nurse" class="text-white hover:underline">Home</a>
<a href="/nurse/patients" class="text-white hover:underline">Patients</a>
<a href="/nurse/tasks" class="text-white hover:underline">Tasks</a>
<a href="/nurse/availability" class="text-white hover:underline">Update Availability</a>
<!--a href="/doctor/diagnoses" class="text-white hover:underline">Diagnoses</a>
<a href="/ai-assistance" class="text-white hover:underline">AI Assistance</a-->
{% endblock %}
