{% extends "layout.html" %}


{% block navlinks %}
<a href="/patient" class="text-white hover:underline">Home</a>
<a href="/patient/prescription" class="text-white hover:underline">Prescription</a>
<a href="/patient/booking" class="text-white hover:underline">Bookings</a>
<a href="/patient/diagnosis" class="text-white hover:underline">Medical History</a>
<a href="/logout" class="text-white hover:underline">Logout</a>
<!--a href="/ai-assistance" class="text-white hover:underline">AI Assistance</a-->
{% endblock %}
