{% extends "layout.html" %}


{% block navlinks %}
<a href="/patient" class="text-white hover:underline">Home</a>
<a href="/patient/prescription" class="text-white hover:underline">Patients</a>
<a href="/patient/bookings" class="text-white hover:underline">Bookings</a>
<a href="/patient/diagnosis" class="text-white hover:underline">Medical History</a>
<!--a href="/doctor/diagnoses" class="text-white hover:underline">Healthy-Habits</a-->
<!--a href="/ai-assistance" class="text-white hover:underline">AI Assistance</a-->
{% endblock %}
