{% extends "layout.html" %}


{% block navlinks %}
<a href="/nurse" class="text-white hover:underline">Home</a>
<a href="/doctor/patients" class="text-white hover:underline">Patients</a>
<a href="/doctor/bookings" class="text-white hover:underline">Bookings</a>
<a href="/doctor/nurses" class="text-white hover:underline">Nurses Assigned</a>
<a href="/doctor/diagnoses" class="text-white hover:underline">Diagnoses</a>
<a href="/ai-assistance" class="text-white hover:underline">AI Assistance</a>
{% endblock %}
